*{
    margin: 0;
    padding: 0;
    
}
.containerg{
    height: 944px;
    width: 100%;
    background-color: #ebeef0;
}
.container{
    background-color: white;
    margin: 0 auto;
    padding: 5px;
    width: 600px;
    justify-content: space-evenly;
    margin-bottom: 30px;
    border-radius: 10px;
}
.top_nav{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.row{
    display:flex;
    justify-content:space-between;
}
img{
    height: 50px;
}
.container1{
    background-color: white;
    margin: 0 auto;
    padding: 5px;
    width: 600px;
    justify-content: space-evenly;
    border-radius: 10px;
}
button{
    background-color: white;
    color: #3798dc;
    border-radius: 10px;
    height: 40px;
    border-color: #3798dc;
}