*{
    margin: 0;
    padding: 0;
    outline: solid 0px ;
}

.container{
    background-color: darkgrey;
    width: 950px;
    margin: 0 auto; /*centra orizontalmente en su contenedor */
    padding: 20px; /*genera separacion entre objeto padre e hijo*/
}
.top-nav{
    width: 100%; /*ancho total de la pantalla*/
    height: 150px;
    background-color: green;
}
.main{
    display: flex;
    margin-top: 20px;
}
.left{
    background-color: blue;
    height: 300px;
    flex:1; /*va a usar 1/4 parte*/
    margin-right:10px;
}
.right{
    background-color: red;
    height: 400px;
    flex:3; /*va a usar 3/4 partes*/
    margin-left: 10px;
}
.row{
    height: 200px;
    width: 100%;
    display: flex;
}
.yellow{
    margin:10px;
    flex: 1;
    background-color: yellow;
}
.row2{
    margin: 20px 30px 0px 20px;
    height: 125px;
    background-color: purple;
}