*{
    margin: 0;
    padding: 0;

}
.container{
    background-color: #34495e;
    justify-content: center;
    text-align: center;
    height: 80px;
    padding-top: 50px;
    color: white;
}
.container2{
    height: 400px;
    padding: 40px;
    text-align: center;
    background-color: #fdf6ec;
}
.container3{
    margin: 0 auto;
    width: 75%;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}
.row1{
    height: 80px;
    padding-top: 40px;
    background-color: #e67e22;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    color:white;
}
.row2{
    display: flex;
}
.cubo{
    background-color: #d35400;
    height: 80px;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
    border-radius: 10px;
    color: white;
    padding-top: 20px;
}
.cubo2{
    background-color: #d35400;
    height: 80px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 10px;
    color:white;
    padding-top: 20px;
}
.cubo3{
    background-color: #d35400;
    height: 80px;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 10px;
    border-radius: 10px;
    color:white;
    padding-top: 20px;
}