*{
    padding: 0;
    margin: 0;
    outline: solid 1px;
}
.top{
    background-color: rgb(159,197,248);
    width: 100%;
    display: flex;
    margin: 0 auto;
    h1{
        color: white;
    }
}
.nav-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
ul{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
}